/* Here we can set styles for this lab page that we don't want to effect others pages */
h1 {
  color: #0a452e;
  font-size: 200%;
}

p {
  font-family: "comic sans";
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  background-color: #cccccc;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font-size: 20px;
}
/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #98c09a;
  }